<table class="table">
    <thead class="thead-light">
      <tr>
          <th scope="col">Data </th>
        <th scope="col">Godzina </th>
        <th scope="col">Kino</th>
        <th scope="col">Film</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let screening of screenings; let i = index">
        <th scope="row"> {{screening.eventTime | date }} </th>
        <th> {{screening.eventTime | date:'H:mm' }} </th>
        <td>{{screening.cinemaId}}</td>
        <td>{{screening.movieId}}</td>
      </tr>
    </tbody>
  </table>
  