.owl-item img{
    width: 100%;
   
}
.slider{
    width:70%;
    float:right;
}



@media only screen and (min-width: 1020px) {
    .desc{
        position: fixed;
        width: 300px;
        left: 20px;
        top: 20px;
    }
}

@media only screen and (max-width: 1020px) {
    .desc{
        display:none;
    }
}


/* .movie {
    margin: 10px;

    width: 600px;
    height: 300px;
    float: left;
    display: inline-block;
}  */

