<div class="slider">
<owl-carousel [options]="mySlideOptions" [items]="movieList" [carouselClasses]="['owl-theme', 'sliding']">
    <div *ngFor="let movie of movieList; let i = index" >
        <img (click)="toggle(i)" src="{{movie.imgSrc}}" alt="{{movie.title}}"/> 
    </div>
  </owl-carousel>
</div>
